{% extends 'base/index.html' %} {% block main %}
<div id="outer-container">
  {% include 'base/header.html' %}
  <div id="content">
    <h1>Каталог</h1>
    <input
      id="search"
      type="text"
      class="form-control"
      placeholder="Поиск..."
      style="width: 40%"
    /><br />
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for i in books %}
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="{{i.img}}"
              alt="Картинка к книге"
              width="100%"
              height="250px"
            />
            <div class="card-body">
              <h5>{{i.name}}</h5>
              <p class="card-text">{{i.description}}</p>
              {% comment %}
              <p>Автор книги</p>
              {% endcomment %}
              <div style="margin-bottom: 7px">
                <a
                  style="
                    border-radius: 5px;
                    background-color: rgb(111, 239, 137);
                    padding: 5px;
                    color: rgb(13, 88, 67);
                  "
                  ><b>#{{i.categories}}</b></a
                >
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <a
                  href="{% url 'viewBook' %}?id={{ i.id }}"
                  class="btn btn-info"
                  >Перейти</a
                >
                <a
                  href="{% url 'addBookMe' %}?id={{ i.id }}"
                  class="btn btn-success"
                  >Добавить</a
                >
                <div
                  style="
                    background-color: rgb(242, 182, 41);
                    padding: 4px 7px;
                    border-radius: 5px;
                  "
                >
                  <span>{{i.rate}}/10 ★</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock main %} {% block script %}
<script>
  let input = document.getElementById("search");
  let list = document.getElementsByTagName("h5");
  let list2 = document.getElementsByClassName("col");
  input.addEventListener("keyup", (e) => {
    if (e.target.value.length > 0) {
      for (let i = 0; i < list.length; i++) {
        let isData = list[i].innerText
          .toLowerCase()
          .indexOf(e.target.value.toLowerCase());
        if (isData == -1) list2[i].style.display = "none";
        else list2[i].style.display = "block";
      }
    } else {
      for (let i = 0; i < list2.length; i++) {
        list2[i].style.display = "block";
      }
    }
  });
</script>
{% endblock script %}
